{% extends 'base.html.twig' %}

{% block title %}All Students{% endblock %}

{% block body %}
    <h1>All Students</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('student_new') }}">Create Coursework</a>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{{ path('student_show', {'id': student.id}) }}">Details</a>
                        <a class="btn btn-secondary" href="{{ path('student_edit', {'id': student.id}) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Students found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
