{% extends 'base.html.twig' %}

{% block title %}All Submissions{% endblock %}

{% block body %}
    <h1>All Submissions</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('app_submission_new') }}">Create Submission</a>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Student</th>
            <th>Hand In Date</th>
            <th>Is Second Submission?</th>
            <th>Mark</th>
            <th>Grade</th>
            <th class="text-end"></th>
        </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <tr>
                <td><a href="{{ path('app_student_show', {id: submission.student.id }) }}">{{ submission.student.name }}</a>
                </td>
                <td>{{ submission.handInDate ? submission.handInDate|date('d/m/Y') : '' }}</td>
                <td>{{ submission.resubmitted ? 'Yes' : 'No' }}</td>
                <td>{{ submission.mark }}%</td>
                <td>{{ submission.grade }}</td>
                <td class="text-end">
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{{ path('app_submission_show', {'id': submission.id}) }}">Details</a>
                        <a class="btn btn-secondary"
                           href="{{ path('app_submission_edit', {'id': submission.id}) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
