{% extends 'base.html.twig' %}

{% block title %}All Submissions{% endblock %}

{% block body %}
    <h1>All Submission</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('coursework_new') }}">Create Coursework</a>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Student</th>
            <th>Hand In Date</th>
            <th>Second Submission?</th>
            <th>Mark</th>
            <th>Grade</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <tr>
                <td>{{ submission.id }}</td>
                <td><a href="{{ path('student_show', {id: submission.student.id }) }}">{{ submission.student.name }}</a></td>
                <td>{{ submission.handInDate ? submission.handInDate|date('d/m/Y') : '' }}</td>
                <td>{{ submission.secondSubmission ? 'Yes' : 'No' }}</td>
                <td>{{ submission.mark }}</td>
                <td>{{ submission.grade }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{{ path('submission_show', {'id': submission.id}) }}">show</a>
                        <a class="btn btn-secondary"
                           href="{{ path('submission_edit', {'id': submission.id}) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
