{% extends 'base.html.twig' %}

{% block title %}All Courseworks{% endblock %}

{% block body %}
    <h1>All Courseworks</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('coursework_new') }}">Create Coursework</a>
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Deadline</th>
            <th>Credit Weight</th>
            <th>Feedback Due Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for coursework in courseworks %}
            <tr>
                <td>{{ coursework.id }}</td>
                <td>{{ coursework.name }}</td>
                <td>{{ coursework.deadline ? coursework.deadline|date('d/m/Y') : '' }}</td>
                <td>{{ coursework.creditWeight }}</td>
                <td>{{ coursework.feedbackDueDate ? coursework.feedbackDueDate|date('d/m/Y') : '' }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{{ path('coursework_show', {'id': coursework.id}) }}">Details</a>
                        <a class="btn btn-secondary"
                           href="{{ path('coursework_edit', {'id': coursework.id}) }}">Edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No Courseworks found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
